body {
    width: 1280px;
    margin: 0 auto;
    background-color: #100E17;
}

.color-change-btn {
    width: 105px;
    height: 40px;
    margin-left: 30px;
}

.logo {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #485863;
}

.logo_text {
    color: #62D0FB;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 38px 0 25px;
    background-color: #35444F;
}

.navbar_item {
    padding: 20px 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #fff;
}

.navbar_item:hover {
    background-color: rgba(0,0,0,0.5);
}

.navbar_item_link {
    text-decoration: none;
    color: #fff;
}

.aside {
    display: inline-block;
    width: 344px;
    vertical-align: top;
}

.aside_menu {
    border: 1px solid #000;
}

.aside_items {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 0 25px 44px;
}

.aside_items_link {
    text-decoration: none;
    color: #485863;
}

.aside_items:hover {
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    transition: padding-left 0.5s;
    padding-left: 70px;
}

.aside_items:hover > a {
    color: #ffffff;
}

.logo_section {
    border: 1px solid #000;
}

.main_block {
    margin-left: 46px;
    width: 885px;
    display: inline-block;
}

.main_logo_img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.logo_section{
    position: relative;
    height: 530px;
}

.logo_section img {
    width: 320px;
    height: 380px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.main_block_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
}

.main_block_text p:first-child{
    margin: 30px 0;
}

.footer_navbar {
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 50px;
}

.container {
    display: inline-block;
}

.footer_navbar_menu {
    /*display: flex;*/
    width: 928px;
    margin: 20px 40px;
}

.footer_navbar_menu_list {
    display: inline-block;
    padding: 5px 10px;
}

.footer_navbar_menu_list_link:hover {
    color: #528EAB;
    padding-bottom: 10px;
    border-bottom: 1px solid #528EAB;
}

.footer_navbar_menu_list_link {
    text-decoration: none;
    color: #0C1927;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}

.copyright {
    color: #0C1927;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}